 <!-- 上传进度模态框 -->
 <div class="modal fade bs-example-modal-sm upload-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button> -->
                <h4 class="modal-title" id="mySmallModalLabel">上传进度</h4>
                </div>
            <div class="modal-body" id="upload-queue">
                    
            </div>
        </div>
    </div>
</div>