<!-- 添加/修改小区子划分对话框 -->
<div class="modal-header">
    <button class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">新增</h4>
</div>
<div class="modal-body">
    <%- include("./_subEstateForm") %>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-primary btn-confirm">确定</button>
    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
</div>