   <div class="wrappers base-info">
    <div class="data-panel">

        <%- include("./_subEstateForm") %>

        <div class="text-right" style="margin-top:20px;padding-right:20px">
            <button type="submit" class="btn btn-primary btn-confirm">确定</button>
            <button type="button" class="btn btn-default" id="btnCancel">撤销</button>
        </div>
    </div>
</div>