<!--页面正文内容部分-->
<div class="wrappers subEstateRoom">
    <div class="data-panel">
        <!--查询区域-->
        <form class="search-section">
            <dl>
                <dt>楼栋名称 ：</dt>
                <dd>
                    <% if (data&&data.length>0) { %>
                        <select name="" id="selBuilding" class="form-control">
                            <option value="0">请选择</option>
                            <%for(var i=0;i<data.length;i++){%>
                                <option value="<%=data[i].id%>" type="<%=data[i].type%>"><%=data[i].text%></option>
                            <%}%>
                        </select>
                    <%}else{%>
                        <select name="" id="selBuilding" class="form-control">
                            <option value="0">请选择</option>
                        </select>
                    <%}%> 
                </dd>
            </dl>
            <dl>
                <dt>单元名称 ：</dt>
                <dd>
                    <select name="" id="selUnit" class="form-control">
                        <option value="0">请选择</option>
                    </select>
                </dd>
            </dl>
            <dl>
                <dt>室号 ：</dt>
                <dd>
                    <input type="text" class="form-control" id="txtRoom" placeholder="请输入室号" />
                </dd>
            </dl>
            <button type="button" class="btn btn-primary btn-sm" id="btnSearch">查询</button>
            <button type="reset" class="btn btn-primary btn-sm" id="btnExport">重置</button>
        </form>
        <table id="roomList">
        </table>
    </div>
</div>