<div class="wrappers unit-info">
    <div class="data-panel">
        <form class="search-section">
            <div style="margin-bottom:15px;">
                <button type="button" class="btn btn-primary btn-sm" id="entityBtn">设为实体</button>  
                <button type="reset" class="btn btn-primary btn-sm" id="virtualBtn">设为虚体</button>
            </div>
            <dl style="margin-right:10px;">
                <dt>楼栋名称：</dt>
                <dd>
                    <% if (data&&data.length>0) { %>
                        <select name="" id="selBuilding" class="form-control" style="width:200px">
                            <option value="0">请选择</option>
                            <%for(var i=0;i<data.length;i++){%>
                                <option value="<%=data[i].id%>" type="<%=data[i].type%>"><%=data[i].text%></option>
                            <%}%>
                        </select>
                    <%}else{%>
                        <select name="" id="selBuilding" class="form-control" style="width:200px">
                            <option value="">请选择</option>
                        </select>
                    <%}%>
                </dd>
            </dl>
            <dl style="margin-right:10px;">
                <dt>锁定状态：</dt>
                <dd>
                    <select class="form-control" id="unitStatus" style="min-width:200px;">
                        <option value="">全部</option>
                        <option value="1">锁定</option>
                        <option value="0">未锁定</option>
                    </select>
                </dd>
            </dl>
            <dl style="margin-right:10px;">
                <dt>单元类型：</dt>
                <dd>
                    <select class="form-control" id="unitType" style="min-width:200px;">
                        <option value="">请选择</option>
                        <option value="1">实体</option>
                        <option value="2">虚拟</option>                        
                    </select>
                </dd>
            </dl>
            <dl style="margin-right:10px;">
                <dt>创建日期：</dt>
                <dd>
                    <input type="text" class="form-control" id="unitInfo_CreateDate" style="min-width:200px;"/><input type="hidden" name="payStartDate" id='unitInfo_Start'/><input type="hidden" name="payEndDate" id='unitInfo_end'/>
                </dd>
            </dl>
            <button type="button" class="btn btn-primary btn-sm" id="btnSearch">搜索</button>
            <button type="reset" class="btn btn-primary btn-sm" id="btnExport">重置</button>
        </form>
        <table id="unitList">
        </table>
    </div>
</div>