<%- include("../components/head") %>
<!--页面正文内容部分-->
<div class="wrappers">
    
    <div class="op">
        <button type="button" class="btn btn-default" id="btnBack">返回</button>
    </div>
    <input type="hidden" id="id" value="<%= id%>" />
    <div class="tab-wrapper tabs">
            <ul class="tabs-handle">
                <li class="on" data-href="/subEstate/baseInfoView"><a href="javascript:;">基本信息</a></li>
                <li data-href="/subEstate/imageInfoView"><a href="javascript:;">图片信息</a></li>
                <li data-href="/subEstate/buildingInfoView"><a href="javascript:;">楼栋信息</a></li>
                <li data-href="/subEstate/unitInfoView"><a href="javascript:;">单元信息</a></li>
                <li data-href="/subEstate/roomInfoView"><a href="javascript:;">室号信息</a></li>
            </ul>
            <div class="tabs-frame">
            </div>
            <div class="tabs-frame">
            </div>
            <div class="tabs-frame">
            </div>
            <div class="tabs-frame">
            </div>
            <div class="tabs-frame">
            </div>
        </div>
</div>

<%- include("../components/footer") %>